<app-navbar></app-navbar>

<div *ngIf="users" class="container pt-4">
    <div class="row">
        <div class="col-12 text-center paddingNone">
            <h3>Users</h3>
            <button type="button " class="btn btn-info" (click)="CreateUser()">Create</button>
        </div>
    </div>
    <div class="table-responsive pt-4" *ngIf="users">
        <table id="TablaGestorUsuarios" class="TablaResultados table table-bordered table-sm container">
            <thead>
                <tr>
                    <th class="text-center col" style="width: 18%;">Username</th>
                    <th class="text-center col" style="width: 12.5%;">First name</th>
                    <th class="text-center col" style="width: 12.5%;">Last name</th>
                    <th class="text-center col" style="width: 12.5%;">Role</th>
                    <th class="text-center col" style="width: 12.5%;">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" class="placeholderTable">
                    <td class="text-center"><strong>{{ user.username }}</strong></td>
                    <td class="text-left">{{ user.firstName }}</td>
                    <td class="text-left">{{ user.lastName }}</td>
                    <td class="text-center">{{ user.rol }}</td>
                    <td class="text-left">
                        <a style="cursor:pointer; cursor: hand;" (click)="EditUser(user.id)">
                            <i class="fas fa-user" style="color: #5cb85c;"></i>
                        </a>
                        <a class="ml-1" style="cursor:pointer; cursor: hand;" (click)="DeleteUser(user.id)">
                            <i class="fas fa-times" style="color: #af2525;"></i>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="userDeleteModal" tabindex="-1" enctype="multipart/form-data" data-backdrop="static" aria-labelledby="userDeleteModal" data-keyboard="false" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="userDeleteModal">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ClosedModal()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body form-group">
                    <div class="row">
                        <div class="col-12 text-left">Are you sure to delete the user?</div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <div class="btn-group ">
                        <button type="button " class="btn btn-danger" (click)="ConfirmDeleteUser()">Delete</button>
                        <button type="button " class="btn btn-warn " data-dismiss="modal " (click)="ClosedModal() ">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>