<app-navbar></app-navbar>

<div *ngIf="dataFilters" class="container pt-4">
    <div class="row">
        <div class="col-12 text-center paddingNone">
            <h3>Shows</h3>
        </div>
        <div class="col-2 paddingNone">
            <select name="genre" id="genre" class="form-control dropdown-toggle" (change)="Shearch('Genre',$event.target.value)" required>
        <option value="" disabled>Select a genre:</option>
        <option *ngFor="let genre of dataFilters.genres">
          {{ genre}}
        </option>
      </select>
        </div>
        <div class="col-3 paddingNone">
            <select name="scheduleTime" id="scheduleTime" class="form-control dropdown-toggle" (change)="Shearch('ScheduleTime',$event.target.value)" required>
        <option value="" disabled>Select a schedule time:</option>
        <option *ngFor="let time of dataFilters.scheduleTime">
          {{ time}}
        </option>
      </select>
        </div>
        <div class="col-2 paddingNone">
            <select name="channel" id="channel" class="form-control dropdown-toggle" (change)="Shearch('Channel',$event.target.value)" required>
        <option value="" disabled>Select a channel:</option>
        <option *ngFor="let channel of dataFilters.channels">
          {{ channel}}
        </option>
      </select>
        </div>
        <div class="col-2 paddingNone">
            <select name="language" id="language" class="form-control dropdown-toggle" (change)="Shearch('Language',$event.target.value)" required>
        <option value="" disabled>Select a language:</option>
        <option *ngFor="let language of dataFilters.languages">
          {{ language}}
        </option>
      </select>
        </div>
        <div class="col-3 paddingNone">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="keywords" aria-label="keywords" aria-describedby="basic-addon2" [(ngModel)]="keyWords">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="ShearchByKeywords()"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive pt-4" *ngIf="shows">
        <table id="TablaGestorUsuarios" class="TablaResultados table table-bordered table-sm container">
            <thead>
                <tr>
                    <th class="text-center col" style="width: 18%;">Name</th>
                    <th class="text-center col" style="width: 12.5%;">Type</th>
                    <th class="text-center col" style="width: 12.5%;">Language</th>
                    <th class="text-center col" style="width: 12.5%;">Status</th>
                    <th class="text-center col" style="width: 12.5%;">Premiered</th>
                    <th class="text-center col" style="width: 12.5%;">Time</th>
                    <th class="text-center col" style="width: 12.5%;">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let show of shows" class="placeholderTable">
                    <td class="text-left"><strong>{{ show.show.name }}</strong></td>
                    <td class="text-center">{{ show.show.type }}</td>
                    <td class="text-center">{{ show.show.language }}</td>
                    <td class="text-center">{{ show.show.status }}</td>
                    <td class="text-center">{{ show.show.premiered}}</td>
                    <td class="text-center">{{ show.show.schedule.time }}</td>
                    <td class="text-center">
                        <a style="cursor:pointer; cursor: hand;" (click)="GetShow(show.show.id)">
                            <i class="fas fa-info-circle" style="color: #5cb85c;"></i>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="showModal" tabindex="-1" enctype="multipart/form-data" data-backdrop="static" aria-labelledby="showModal" data-keyboard="false" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" *ngIf="show" style="max-width: 75%!important;">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="showModal">{{ show.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ClosedModal()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body form-group">
                    <div class="row">
                        <div class="col-12 text-left" [innerHTML]="show.summary"> </div>
                        <div class="col-6 text-center">
                            <img [src]=" show.image.original " class="rounded" style="max-width: 200px!important; max-height: 200px!important; ">
                        </div>
                        <div class="col-6 text-left ">Cast.
                            <ul>
                                <li *ngFor="let person of cast">{{person.name}} - {{person.character.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <div class="btn-group ">
                        <button type="button " class="btn btn-danger " data-dismiss="modal " (click)="ClosedModal()">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>